<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      xmlns:py="http://genshi.edgewall.org/">
  <xi:include href="admin.html" />
  <head>
    <title>File Archive: Subversion verify of ${info.name}</title>
  </head>
  <body>
 	 <div id="sub-main-large-right">
	    <h3>Subversion Verify: ${info.name}</h3>
	
	    <strong>Summary</strong>
	    <table class="listing">
	      <thead>
		<tr>
		  <th>Path</th>
		  <th>Date Checked</th>
		  <th>Check Type</th>
		  <th>Result</th>
		</tr>
	      </thead>
	      <tbody>
		<tr>
		  <td py:content="info.prettydir"/>
		  <td py:content="info.time_checked"/>
		  <td py:content="info.check_type"/>
		  <td py:content="info.pretty_status"/>
		</tr>
	      </tbody>
	    </table>
		<p></p>
		<div class="greyborder"></div>
	    <strong>Log output</strong>
	    <div>
	      <pre>${info.log}</pre>
	    </div>
	</div>
  </body>
  
</html>
